<td>
    <div class="input" style="text-align: right;">
        <label for="{id}">奖品编码</label>
        <input type="text" id="{id}" name="{id}" value="${(listDto.{id})!''}" placeholder="{placeholder}">
    </div>
</td>