package {{ class.package }};

import {{ support_package }}.Difficulty;
import {{ support_package }}.Question;
import {{ support_package }}.Tag;

{% for i in class.imports %}import {{ i }};
{% endfor %}

/**
 * <a href="https://leetcode.cn/problems/{{ slug }}/">{{ fid }}. {{ title }}</a>
 *
 * @author Kingen
{% for sq in sqs %} * @see {{ sq.package }}.{{ sq.class_name }}
{% endfor %}
 */
@Question({% if paid_only %}
  paidOnly = true,{% endif %}{% if tags %}
  tags = { {% for tag in tags %} Tag.{{ tag }}{% if not loop.last %},{% endif %}{% endfor %} },{% endif %}
  difficulty = Difficulty.{{ difficulty }}
)
public class {{ class.class_name }} {
{% for m in class.methods %}
  {% for x in m.modifiers %}{{ x }} {% endfor %}{% if m.return_type %}{{ m.return_type.name }} {% endif %}{{ m.name }}({% for p in m.parameters %} {{ p.type.name }} {{ p.name }} {% if not loop.last %}, {% endif %}{% endfor %}) {
  {% if m.body %}{{ m.body }}{% endif %}
  }
{% endfor %}
}
